<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title *ngIf="givenName">Hello, {{givenName}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="bold" [routerLink]="['/home']">Home</mat-button-toggle>
      <mat-button-toggle value="italic" [routerLink]="['/fetch-data']">Fetch data</mat-button-toggle>
      <mat-button-toggle value="underline" *ngIf="!givenName" (click)="login()">Login</mat-button-toggle>
      <mat-button-toggle value="underline" *ngIf="givenName" (click)="logout()">logout</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-card-content>
</mat-card>




